site/*
*.ucdb
covhtmlreport/*
work/*
transcript
*.ini
*.wlf
.moore
*.vstf
wlft*
*nfs*
src/moore.sv
*.sig
*.dtb
*.dasm
build/*
/tmp*
*.dasm
/Bender.lock
/Bender.local
build/
*.vcd
*.log
*.out
*.jou
*.o
uart
work-ver/*
fpga/work-fpga
stdout/
work-dpi/
tb/riscv-isa-sim/
work-*/*
.Xil/
csrc/
swave_compile_done
test.fst
tokens*.v
trace_hart_00.dis
ucli.key
vc_hdrs.h
vcdplus.vpd
verilog.dump
*~
